In [1]:
import pandas as pd

# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [2]:
# every DataFrame has an index
drinks.index

RangeIndex(start=0, stop=193, step=1)

In [7]:
# every Series also has an index (which carries over from the DataFrame)
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [10]:
# set 'country' as the index
drinks.set_index('country', inplace=True)
drinks

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
Antigua & Barbuda,102,128,45,4.9,North America
Argentina,193,25,221,8.3,South America
Armenia,21,179,11,3.8,Europe
Australia,261,72,212,10.4,Oceania
Austria,279,75,191,9.7,Europe
Azerbaijan,21,46,5,1.3,Europe
Bahamas,122,176,51,6.3,North America
Bahrain,42,63,7,2.0,Asia
Bangladesh,0,0,0,0.0,Asia
Barbados,143,173,36,6.3,North America
Belarus,142,373,42,14.4,Europe
Belgium,295,84,212,10.5,Europe
Belize,263,114,8,6.8,North America
Benin,34,4,13,1.1,Africa
Bhutan,23,0,0,0.4,Asia
Bolivia,167,41,8,3.8,South America
Bosnia-Herzegovina,76,173,8,4.6,Europe
Botswana,173,35,35,5.4,Africa
Brazil,245,145,16,7.2,South America
Brunei,31,2,1,0.6,Asia
Bulgaria,231,252,94,10.3,Europe
Burkina Faso,25,7,7,4.3,Africa
Burundi,88,0,0,6.3,Africa
Cote d'Ivoire,37,1,7,4.0,Africa
Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...
Suriname,128,178,7,5.6,South America
Swaziland,90,2,2,4.7,Africa
Sweden,152,60,186,7.2,Europe
Switzerland,185,100,280,10.2,Europe
Syria,5,35,16,1.0,Asia
Tajikistan,2,15,0,0.3,Asia
Thailand,99,258,1,6.4,Asia
Macedonia,106,27,86,3.9,Europe
Timor-Leste,1,1,4,0.1,Asia
Togo,36,2,19,1.3,Africa
Tonga,36,21,5,1.1,Oceania
Trinidad & Tobago,197,156,7,6.4,North America
Tunisia,51,3,20,1.3,Africa
Turkey,51,22,7,1.4,Asia
Turkmenistan,19,71,32,2.2,Asia
Tuvalu,6,41,9,1.0,Oceania
Uganda,45,9,0,8.3,Africa
Ukraine,206,237,45,8.9,Europe
United Arab Emirates,16,135,5,2.8,Asia
United Kingdom,219,126,195,10.4,Europe
Tanzania,36,6,1,5.7,Africa
USA,249,158,84,8.7,North America
Uruguay,115,35,220,6.6,South America
Uzbekistan,25,101,8,2.4,Asia
Vanuatu,21,18,11,0.9,Oceania
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [11]:
# Series index is on the left, values are on the right
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [12]:
# another example of a Series (output from the 'value_counts' method)
drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [13]:
# access the Series index
drinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [14]:
# access the Series values
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12])

In [15]:
# elements in a Series can be selected by index (using bracket notation)
drinks.continent.value_counts()['Africa']

53

In [16]:
# any Series can be sorted by its values
drinks.continent.value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [17]:
# any Series can also be sorted by its index
drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html) and [**`sort_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_index.html)

**What is the index used for?**

1. identification (covered in the previous video)
2. selection (covered in the previous video)
3. alignment

In [18]:
# 'beer_servings' Series contains the average annual beer servings per person
drinks.beer_servings.head()

country
Afghanistan      0
Albania         89
Algeria         25
Andorra        245
Angola         217
Name: beer_servings, dtype: int64

In [19]:
# create a Series containing the population of two countries
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
people

Albania    3000000
Andorra      85000
Name: population, dtype: int64

Documentation for [**`Series`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html)

In [20]:
# calculate the total annual beer servings for each country
(drinks.beer_servings * people).head()

Afghanistan            NaN
Albania        267000000.0
Algeria                NaN
Andorra         20825000.0
Angola                 NaN
dtype: float64

- The two Series were **aligned** by their indexes.
- If a value is missing in either Series, the result is marked as **NaN**.
- Alignment enables us to easily work with **incomplete data**.

In [21]:
# concatenate the 'drinks' DataFrame with the 'population' Series (aligns by the index)
pd.concat([drinks, people], axis=1).head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,3000000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,85000.0
Angola,217,57,45,5.9,Africa,NaN

Documentation for [**`concat`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

[Indexing and selecting data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

In [ ]:
# END